*.swp
*.swo
*.mp3
.libs/
acinclude.m4
aclocal.m4
autom4te.cache/
build/
config.guess
config.h
config.h.in
config.h.in~
config.log
config.nice
config.status
config.sub
configure
configure.in
include/
install-sh
libtool
ltmain.sh
Makefile
Makefile.*
missing
mkinstalldirs
run-tests.php
taglib.la
taglib.lo
