*.sw*
*.mp3
*.ogg
*.flac
*.jpg
*.png
.deps
*.o
.libs/
acinclude.m4
aclocal.m4
autom4te.cache/
build/
config.guess
config.h
config.h.in
config.h.in~
config.log
config.nice
config.status
config.sub
configure
configure.in
include/
install-sh
libtool
ltmain.sh
Makefile.*
missing
mkinstalldirs
run-tests.php
taglib.la
taglib.lo
Makefile
modules/*
!modules/.keep
